  .top {
    margin: 0;
    background-color: #EAF6F6;
    padding-top: 100px;
    margin-bottom: 40px;
  }

  h1 {
    color: #66BFBF;
  
    font-family: 'Sacramento', cursive;
    font-size: 5.3rem;
    /* 100% is equivalent to 16px*/
  
    margin-top: 56px;
  }

  h3 {
    color: #11999E;

  }

  .intro{
    width: 28%;
    margin: auto;
  }

  h2 {
    font-size: 1.7rem;
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
  }

  body {
    margin: 0;
 
    font-family: 'Merriweather', serif;
    text-align: center;
    color: #40514E;

  }

  .bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
  }

  .top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
  }

  .middle-container{
	  
    margin-top: 100px;
  }

  .coder {
    width: 35%;
    float: right;
    margin-left: 50px;
    text-align: center;
  }

  ul {
    list-style-position: inside;
  }

  .ML {
    width: 35%;
    text-align: center;
    float: left;
    margin-right: 50px;

  }

  .footer-link {
    margin-left: 20px;
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 1.2rem;
  }

  .footer-link:hover {
    color: #EAF6F6;
  }


  .contact-me{
    margin-bottom: 100px;
  }

  a{
    text-decoration: none;
  }

  a:hover{

    color : #ff9d76;
  }

  .skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
  }

  .projects{

    text-align: left;
    margin-left: 40%;
  }

  .bottom-container{

    background-color: #66BFBF;
    padding-bottom: 50px;
    padding-top: 50px;
    line-height: 2;
    margin-bottom: 0;

  }

  .cp{

    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0; 

  }

  hr{

  border-style: none;
  border-top: dotted;
  width: 5%;
  border-width: 8px;
  border-color: #c7f0db;
  margin-bottom: 50px;
  margin-top: 50px;

  }


  .btn {
	box-shadow: 0 1px 0 0 #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:8px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight: normal;
  line-height: 2;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0 -1px 0 #5b6178;
  margin: 50px auto 50px auto;
}
.btn:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.btn:active {
	position:relative;
	top:1px;
}
